parameters:
	ignoreErrors:
		# spatie/db-dumper 3.x returns DbDumper from chained setters where 4.x
		# returns static (MySql). When CI resolves db-dumper 3.x for older PHP
		# cells, PHPStan loses sight of the MySql-only skipLockTables(). The
		# call is correct at runtime regardless.
		-
			message: '#^Call to an undefined method Spatie\\DbDumper\\DbDumper\:\:skipLockTables\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Commands/DatabaseDumpCommand.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Commands\\DatabaseCommand\:\:getSqlFiles\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Commands/DatabaseCommand.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/Commands/DatabaseCreateCommand.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Connection\:\:getSchemaBuilder\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: src/Commands/DatabaseCreateCommand.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/Commands/DatabaseDumpCommand.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Commands\\DatabaseDumpCommand\:\:dumpToFile\(\) has parameter \$tempFileHandle with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Commands/DatabaseDumpCommand.php

		-
			message: '#^Casting to int something that''s already int\.$#'
			identifier: cast.useless
			count: 1
			path: src/Commands/DatabaseGetFromBackupCommand.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 6
			path: src/Commands/DatabaseGetFromBackupCommand.php

		-
			message: '#^Dynamic call to static method League\\Flysystem\\FilesystemReader\:\:listContents\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: src/Commands/DatabaseGetFromBackupCommand.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Commands\\DatabaseGetFromBackupCommand\:\:fetchDatabaseArchive\(\) has Illuminate\\Contracts\\Filesystem\\FileNotFoundException in PHPDoc @throws tag but it''s not thrown\.$#'
			identifier: throws.unusedType
			count: 1
			path: src/Commands/DatabaseGetFromBackupCommand.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Commands\\DatabaseGetFromBackupCommand\:\:getFileSystem\(\) throws checked exception Illuminate\\Contracts\\Container\\BindingResolutionException but it''s missing from the PHPDoc @throws tag\.$#'
			identifier: missingType.checkedException
			count: 1
			path: src/Commands/DatabaseGetFromBackupCommand.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Commands\\DatabaseGetFromBackupCommand\:\:getLatestFile\(\) throws checked exception League\\Flysystem\\FilesystemException but it''s missing from the PHPDoc @throws tag\.$#'
			identifier: missingType.checkedException
			count: 1
			path: src/Commands/DatabaseGetFromBackupCommand.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Commands\\DatabaseGetFromBackupCommand\:\:normaliseListItem\(\) has parameter \$file with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Commands/DatabaseGetFromBackupCommand.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Commands\\DatabaseGetFromBackupCommand\:\:normaliseListItem\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Commands/DatabaseGetFromBackupCommand.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Commands\\DatabaseGetFromBackupCommand\:\:unzip\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Commands/DatabaseGetFromBackupCommand.php

		-
			message: '#^Only booleans are allowed in an if condition, string\|null given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: src/Commands/DatabaseGetFromBackupCommand.php

		-
			message: '#^Parameter \#1 \$file of method Jpswade\\LaravelDatabaseTools\\Commands\\DatabaseGetFromBackupCommand\:\:normaliseListItem\(\) expects array\|League\\Flysystem\\FileAttributes, League\\Flysystem\\StorageAttributes given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/DatabaseGetFromBackupCommand.php

		-
			message: '#^Property Jpswade\\LaravelDatabaseTools\\Commands\\DatabaseGetFromBackupCommand\:\:\$config type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Commands/DatabaseGetFromBackupCommand.php

		-
			message: '#^Variable method call on Illuminate\\Filesystem\\FilesystemManager\.$#'
			identifier: method.dynamicName
			count: 1
			path: src/Commands/DatabaseGetFromBackupCommand.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 3
			path: src/Commands/DatabaseImportFromFileCommand.php

		-
			message: '#^Instantiated class League\\Flysystem\\FileNotFoundException not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Commands/DatabaseImportFromFileCommand.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Commands\\DatabaseImportFromFileCommand\:\:checkConnection\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Commands/DatabaseImportFromFileCommand.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Commands\\DatabaseImportFromFileCommand\:\:databaseImportUsingCommandLine\(\) has parameter \$connection with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Commands/DatabaseImportFromFileCommand.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Commands\\DatabaseImportFromFileCommand\:\:getLatestSqlFile\(\) throws checked exception ValueError but it''s missing from the PHPDoc @throws tag\.$#'
			identifier: missingType.checkedException
			count: 1
			path: src/Commands/DatabaseImportFromFileCommand.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Commands\\DatabaseImportFromFileCommand\:\:handle\(\) throws checked exception League\\Flysystem\\FileNotFoundException but it''s missing from the PHPDoc @throws tag\.$#'
			identifier: missingType.checkedException
			count: 1
			path: src/Commands/DatabaseImportFromFileCommand.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Commands\\DatabaseImportFromFileCommand\:\:importFromFile\(\) has parameter \$connection with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Commands/DatabaseImportFromFileCommand.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 2
			path: src/Commands/DatabaseImportFromFileCommand.php

		-
			message: '#^PHPDoc tag @throws with type InvalidArgumentException\|League\\Flysystem\\FileNotFoundException is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 1
			path: src/Commands/DatabaseImportFromFileCommand.php

		-
			message: '#^Throwing object of an unknown class League\\Flysystem\\FileNotFoundException\.$#'
			identifier: class.notFound
			count: 1
			path: src/Commands/DatabaseImportFromFileCommand.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: src/Commands/DatabaseOptimizeCommand.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Connection\:\:select\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: src/Commands/DatabaseOptimizeCommand.php

		-
			message: '#^Only booleans are allowed in &&, array given on the left side\.$#'
			identifier: booleanAnd.leftNotBoolean
			count: 1
			path: src/Commands/DatabaseOptimizeCommand.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\ServiceProvider\:\:boot\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ServiceProvider.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Console\\Style\\OutputStyle\:\:info\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: src/Services/DatabaseCharSetService.php

		-
			message: '#^Called ''pluck'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: src/Services/DatabaseCharSetService.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 3
			path: src/Services/DatabaseCharSetService.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Connection\:\:table\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: src/Services/DatabaseCharSetService.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Connection\:\:unprepared\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 3
			path: src/Services/DatabaseCharSetService.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Services\\DatabaseCharSetService\:\:__invoke\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Services/DatabaseCharSetService.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Services\\SqliteService\:\:day\(\) has parameter \$field with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Services/SqliteService.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$arg1$#'
			identifier: parameter.notFound
			count: 1
			path: src/Services/SqliteService.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$arg2$#'
			identifier: parameter.notFound
			count: 1
			path: src/Services/SqliteService.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Tests\\Commands\\DatabaseCreateCommandTest\:\:test_command_fails_with_invalid_connection\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Commands/DatabaseCreateCommandTest.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Tests\\Commands\\DatabaseCreateCommandTest\:\:test_command_outputs_expected_messages\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Commands/DatabaseCreateCommandTest.php

		-
			message: '#^Method Jpswade\\LaravelDatabaseTools\\Tests\\Commands\\DatabaseCreateCommandTest\:\:test_command_succeeds_with_valid_connection\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Commands/DatabaseCreateCommandTest.php

		-
			message: '#^Trait Jpswade\\LaravelDatabaseTools\\Tests\\Traits\\CreatesApplication is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: tests/Traits/CreatesApplication.php
